{% extends "wrapper.html" %}

{% block content%}
    <div id="main">
	<form action="{{ url_for('result') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        	<p>
            		<h2>{{ form.tweet.label }}</h2>
            		{{ form.tweet(cols="50", rows="4") }}
			{% for error in form.tweet.errors %}
            			<br><span style="color: red;">{{ error }}</span>
            		{% endfor %}
        	</p>
        	<p>
			{{ form.submit() }}
		</p>
    	</form>
    </div>
{% endblock %}
